@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="col">
        <div class="col-1">Time</div>
        <div class="col-12">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr.js"></script>
<script src="~/js/site.js"></script>